In [1]:
import pandas as pd
from math import cos

In [2]:
def state_code_compute(x):
    scale_km = 0.5
    lat = x[4]
    lon = x[5]
    lat_to_km = lat*110.574
    lon_to_km = abs(lon*(111.320*cos(lat)))

    state_code_x = str(int(lat_to_km//scale_km))
    state_code_y = str(int(lon_to_km//scale_km))
    if len(state_code_y) == 4:
        state_code_y = '0'+state_code_y
    state_code = state_code_x+state_code_y
    return state_code

In [12]:
rst = pd.read_csv('C:/Users/Big data/Education/elemen.csv')

In [13]:
rst.head()

           校名           地址        lan        long
0  臺北市立松山國民小學    八徳路四段746号  25.050036  121.564953
1  臺北市立西松國民小學     東光里三民路5号  25.052302  121.563488
2  臺北市立敦化國民小學    中正里敦化北路2号  25.049104  121.548531
3  臺北市立民生國民小學  敦化北路199巷18号  25.056515  121.552179
4  臺北市立民權國民小學   民權東路四段200号  25.062387  121.562304

In [14]:
lat = list(rst.columns).index('lan')
lon = list(rst.columns).index('long')
(lat,lon)

(2, 3)

In [15]:
def calculation(x):
    return x[2],x[3]

In [16]:
new_col = rst.apply(state_code_compute,axis=1)

IndexError: ('index out of bounds', 'occurred at index 0')

In [8]:
rst['state_code'] = new_col
new_col.head()

0    553426902
1    553426905
2    553026848
3    554727027
4    554827029
dtype: object

In [9]:
new_col.shape

(452,)

In [10]:
type(new_col)

pandas.core.series.Series

In [11]:
rst.head()

,name,schoolType,district,address,lat,lon,state_code
0,國立臺灣師範大學-1,college,大安區,和平東路一段162號,25.025913,121.528313,553426902
1,國立臺灣師範大學-2,college,大安區,和平東路一段129號,25.026815,121.528748,553426905
2,國立臺灣師範大學-3,college,文山區,汀州路四段88號,25.008063,121.536628,553026848
3,銘傳大學-1,college,士林區,中山北路五段250號,25.086068,121.527551,554727027
4,銘傳大學-2,college,士林區,基河路130號3樓,25.089003,121.522886,554827029

In [ ]:
rst.to_csv('Education/edu_all_statecode.csv',encoding='utf-8',header = True, index = False)

In [31]:
# 將state_code做切割
def state_codecut(x):
    loc = str(x[6])
    lat = loc[:4]
    lon = loc[4:]
    return lat,lon,type(x)

In [32]:
code_split = rst.apply(state_codecut,axis=1)
code_split

0      (5534, 26902, <class 'pandas.core.series.Serie...
1      (5534, 26905, <class 'pandas.core.series.Serie...
2      (5530, 26848, <class 'pandas.core.series.Serie...
3      (5547, 27027, <class 'pandas.core.series.Serie...
4      (5548, 27029, <class 'pandas.core.series.Serie...
5      (5559, 27059, <class 'pandas.core.series.Serie...
6      (5534, 26904, <class 'pandas.core.series.Serie...
7      (5537, 26932, <class 'pandas.core.series.Serie...
8      (5549, 27041, <class 'pandas.core.series.Serie...
9      (5537, 26933, <class 'pandas.core.series.Serie...
10     (5534, 26902, <class 'pandas.core.series.Serie...
11     (5538, 26948, <class 'pandas.core.series.Serie...
12     (5531, 26866, <class 'pandas.core.series.Serie...
13     (5532, 26872, <class 'pandas.core.series.Serie...
14     (5531, 26865, <class 'pandas.core.series.Serie...
15     (5537, 26941, <class 'pandas.core.series.Serie...
16     (5547, 27027, <class 'pandas.core.series.Serie...
17     (5543, 26997, <class 'pandas.core.series.Serie...
18     (5541, 26984, <class 'pandas.core.series.Serie...
19     (5541, 26980, <class 'pandas.core.series.Serie...
20     (5532, 26872, <class 'pandas.core.series.Serie...
21     (5536, 26926, <class 'pandas.core.series.Serie...
22     (5554, 27055, <class 'pandas.core.series.Serie...
23     (5537, 26944, <class 'pandas.core.series.Serie...
24     (5546, 27034, <class 'pandas.core.series.Serie...
25     (5525, 26778, <class 'pandas.core.series.Serie...
26     (5543, 27016, <class 'pandas.core.series.Serie...
27     (5545, 27031, <class 'pandas.core.series.Serie...
28     (5526, 26780, <class 'pandas.core.series.Serie...
29     (5525, 26782, <class 'pandas.core.series.Serie...
                             ...
422    (5536, 26940, <class 'pandas.core.series.Serie...
423    (5535, 26927, <class 'pandas.core.series.Serie...
424    (5535, 26919, <class 'pandas.core.series.Serie...
425    (5539, 26966, <class 'pandas.core.series.Serie...
426    (5541, 26998, <class 'pandas.core.series.Serie...
427    (5541, 26998, <class 'pandas.core.series.Serie...
428    (5538, 26966, <class 'pandas.core.series.Serie...
429    (5540, 26987, <class 'pandas.core.series.Serie...
430    (5540, 26992, <class 'pandas.core.series.Serie...
431    (5538, 26967, <class 'pandas.core.series.Serie...
432    (5539, 26970, <class 'pandas.core.series.Serie...
433    (5537, 26961, <class 'pandas.core.series.Serie...
434    (5534, 26899, <class 'pandas.core.series.Serie...
435    (5533, 26888, <class 'pandas.core.series.Serie...
436    (5533, 26887, <class 'pandas.core.series.Serie...
437    (5538, 26943, <class 'pandas.core.series.Serie...
438    (5534, 26897, <class 'pandas.core.series.Serie...
439    (5536, 26921, <class 'pandas.core.series.Serie...
440    (5533, 26883, <class 'pandas.core.series.Serie...
441    (5539, 26952, <class 'pandas.core.series.Serie...
442    (5537, 26930, <class 'pandas.core.series.Serie...
443    (5537, 26930, <class 'pandas.core.series.Serie...
444    (5535, 26909, <class 'pandas.core.series.Serie...
445    (5536, 26917, <class 'pandas.core.series.Serie...
446    (5535, 26910, <class 'pandas.core.series.Serie...
447    (5535, 26910, <class 'pandas.core.series.Serie...
448    (5545, 27009, <class 'pandas.core.series.Serie...
449    (5554, 27055, <class 'pandas.core.series.Serie...
450    (5554, 27055, <class 'pandas.core.series.Serie...
451    (5526, 26796, <class 'pandas.core.series.Serie...
Length: 452, dtype: object

In [27]:
code_split_list = code_split.tolist() 
code_split_list

[('5534', '26902'),
 ('5534', '26905'),
 ('5530', '26848'),
 ('5547', '27027'),
 ('5548', '27029'),
 ('5559', '27059'),
 ('5534', '26904'),
 ('5537', '26932'),
 ('5549', '27041'),
 ('5537', '26933'),
 ('5534', '26902'),
 ('5538', '26948'),
 ('5531', '26866'),
 ('5532', '26872'),
 ('5531', '26865'),
 ('5537', '26941'),
 ('5547', '27027'),
 ('5543', '26997'),
 ('5541', '26984'),
 ('5541', '26980'),
 ('5532', '26872'),
 ('5536', '26926'),
 ('5554', '27055'),
 ('5537', '26944'),
 ('5546', '27034'),
 ('5525', '26778'),
 ('5543', '27016'),
 ('5545', '27031'),
 ('5526', '26780'),
 ('5525', '26782'),
 ('5528', '26818'),
 ('5528', '26821'),
 ('5559', '27048'),
 ('5555', '27051'),
 ('5554', '27052'),
 ('5537', '26939'),
 ('5557', '27043'),
 ('5558', '27043'),
 ('5556', '27053'),
 ('5534', '26909'),
 ('5534', '26909'),
 ('5536', '26942'),
 ('5547', '27036'),
 ('5536', '26927'),
 ('5525', '26783'),
 ('5540', '26985'),
 ('5539', '26968'),
 ('5538', '26957'),
 ('5535', '26929'),
 ('5533', '26888'),
 ('5539', '26963'),
 ('5540', '26976'),
 ('5546', '27021'),
 ('5535', '26912'),
 ('5538', '26945'),
 ('5537', '26933'),
 ('5545', '27011'),
 ('5542', '26986'),
 ('5535', '26903'),
 ('5535', '26908'),
 ('5524', '26751'),
 ('5528', '26828'),
 ('5540', '26984'),
 ('5541', '27000'),
 ('5546', '27030'),
 ('5547', '27036'),
 ('5543', '27015'),
 ('5549', '27031'),
 ('5547', '27027'),
 ('5560', '27049'),
 ('5551', '27043'),
 ('5538', '26959'),
 ('5536', '26933'),
 ('5536', '26926'),
 ('5537', '26943'),
 ('5539', '26967'),
 ('5543', '26997'),
 ('5534', '26898'),
 ('5541', '26978'),
 ('5537', '26930'),
 ('5522', '26718'),
 ('5526', '26782'),
 ('5526', '26796'),
 ('5526', '26790'),
 ('5525', '26772'),
 ('5545', '27029'),
 ('5545', '27029'),
 ('5546', '27034'),
 ('5550', '27041'),
 ('5551', '27049'),
 ('5551', '27048'),
 ('5559', '27051'),
 ('5558', '27050'),
 ('5553', '27050'),
 ('5536', '26939'),
 ('5537', '26949'),
 ('5535', '26923'),
 ('5527', '26813'),
 ('5541', '26995'),
 ('5546', '27029'),
 ('5549', '27034'),
 ('5539', '26969'),
 ('5535', '26925'),
 ('5534', '26909'),
 ('5535', '26913'),
 ('5543', '26996'),
 ('5538', '26945'),
 ('5542', '26989'),
 ('5559', '27061'),
 ('5560', '27054'),
 ('5536', '26927'),
 ('5525', '26783'),
 ('5546', '27034'),
 ('5541', '26984'),
 ('5541', '26993'),
 ('5542', '26990'),
 ('5540', '26972'),
 ('5536', '26941'),
 ('5539', '26970'),
 ('5536', '26945'),
 ('5535', '26919'),
 ('5536', '26939'),
 ('5535', '26920'),
 ('5532', '26886'),
 ('5535', '26918'),
 ('5537', '26944'),
 ('5531', '26859'),
 ('5534', '26901'),
 ('5539', '26963'),
 ('5545', '27019'),
 ('5542', '26988'),
 ('5542', '26995'),
 ('5546', '27026'),
 ('5533', '26883'),
 ('5534', '26895'),
 ('5536', '26924'),
 ('5536', '26931'),
 ('5535', '26919'),
 ('5540', '26965'),
 ('5540', '26962'),
 ('5542', '26989'),
 ('5544', '27000'),
 ('5545', '27011'),
 ('5535', '26905'),
 ('5534', '26899'),
 ('5536', '26925'),
 ('5525', '26780'),
 ('5525', '26761'),
 ('5525', '26773'),
 ('5527', '26796'),
 ('5529', '26840'),
 ('5527', '26808'),
 ('5540', '26993'),
 ('5538', '26965'),
 ('5545', '27028'),
 ('5546', '27032'),
 ('5543', '27015'),
 ('5547', '27034'),
 ('5544', '27027'),
 ('5544', '27023'),
 ('5549', '27035'),
 ('5553', '27051'),
 ('5551', '27051'),
 ('5557', '27061'),
 ('5551', '27036'),
 ('5554', '27056'),
 ('5558', '27051'),
 ('5559', '27052'),
 ('5552', '27046'),
 ('5558', '27045'),
 ('5554', '27049'),
 ('5555', '27041'),
 ('5535', '26924'),
 ('5528', '26819'),
 ('5540', '26985'),
 ('5539', '26968'),
 ('5533', '26888'),
 ('5540', '26976'),
 ('5546', '27021'),
 ('5542', '26986'),
 ('5535', '26908'),
 ('5528', '26828'),
 ('5540', '26984'),
 ('5549', '27031'),
 ('5547', '27027'),
 ('5536', '26933'),
 ('5537', '26943'),
 ('5541', '26978'),
 ('5537', '26930'),
 ('5522', '26718'),
 ('5526', '26790'),
 ('5525', '26772'),
 ('5545', '27029'),
 ('5546', '27034'),
 ('5550', '27041'),
 ('5551', '27049'),
 ('5551', '27048'),
 ('5559', '27051'),
 ('5553', '27050'),
 ('5542', '26990'),
 ('5536', '26941'),
 ('5535', '26920'),
 ('5545', '27019'),
 ('5536', '26931'),
 ('5542', '26989'),
 ('5535', '26905'),
 ('5525', '26780'),
 ('5540', '26984'),
 ('5545', '27028'),
 ('5549', '27035'),
 ('5558', '27051'),
 ('5558', '27051'),
 ('5559', '27047'),
 ('5553', '27050'),
 ('5556', '27051'),
 ('5555', '27050'),
 ('5554', '27051'),
 ('5560', '27047'),
 ('5546', '27014'),
 ('5556', '27056'),
 ('5549', '27036'),
 ('5549', '27038'),
 ('5544', '27016'),
 ('5543', '27018'),
 ('5546', '27028'),
 ('5546', '27031'),
 ('5539', '26974'),
 ('5540', '26981'),
 ('5541', '26991'),
 ('5539', '26965'),
 ('5540', '26979'),
 ('5538', '26959'),
 ('5535', '26919'),
 ('5534', '26907'),
 ('5540', '26990'),
 ('5537', '26964'),
 ('5539', '26971'),
 ('5538', '26971'),
 ('5540', '26987'),
 ('5542', '26995'),
 ('5539', '26963'),
 ('5546', '27026'),
 ('5542', '26991'),
 ('5537', '26931'),
 ('5533', '26886'),
 ('5535', '26914'),
 ('5534', '26900'),
 ('5536', '26925'),
 ('5541', '26980'),
 ('5545', '27007'),
 ('5541', '26976'),
 ('5543', '26994'),
 ('5535', '26914'),
 ('5533', '26893'),
 ('5532', '26877'),
 ('5536', '26937'),
 ('5534', '26905'),
 ('5535', '26910'),
 ('5533', '26892'),
 ('5537', '26942'),
 ('5534', '26905'),
 ('5529', '26833'),
 ('5526', '26785'),
 ('5525', '26778'),
 ('5526', '26787'),
 ('5529', '26829'),
 ('5524', '26746'),
 ('5526', '26784'),
 ('5525', '26779'),
 ('5529', '26835'),
 ('5529', '26842'),
 ('5538', '26947'),
 ('5542', '26997'),
 ('5534', '26894'),
 ('5547', '27025'),
 ('5537', '26949'),
 ('5536', '26942'),
 ('5534', '26897'),
 ('5552', '27035'),
 ('5554', '27056'),
 ('5555', '27054'),
 ('5550', '27040'),
 ('5557', '27067'),
 ('5548', '27026'),
 ('5548', '27026'),
 ('5551', '27047'),
 ('5551', '27046'),
 ('5546', '27018'),
 ('5551', '27048'),
 ('5553', '27052'),
 ('5552', '27037'),
 ('5555', '27060'),
 ('5555', '27066'),
 ('5547', '27025'),
 ('5550', '27041'),
 ('5549', '27035'),
 ('5552', '27055'),
 ('5547', '27019'),
 ('5553', '27051'),
 ('5553', '27051'),
 ('5552', '27047'),
 ('5542', '26983'),
 ('5544', '27006'),
 ('5544', '27006'),
 ('5542', '26984'),
 ('5542', '26984'),
 ('5542', '26984'),
 ('5540', '26971'),
 ('5541', '26975'),
 ('5543', '26993'),
 ('5542', '26990'),
 ('5543', '26992'),
 ('5537', '26943'),
 ('5533', '26887'),
 ('5537', '26936'),
 ('5535', '26920'),
 ('5533', '26889'),
 ('5531', '26864'),
 ('5536', '26935'),
 ('5533', '26893'),
 ('5535', '26914'),
 ('5535', '26924'),
 ('5532', '26882'),
 ('5533', '26892'),
 ('5533', '26898'),
 ('5534', '26903'),
 ('5535', '26916'),
 ('5535', '26916'),
 ('5539', '26968'),
 ('5542', '26996'),
 ('5544', '27011'),
 ('5546', '27024'),
 ('5540', '26976'),
 ('5540', '26974'),
 ('5546', '27022'),
 ('5542', '26990'),
 ('5542', '26990'),
 ('5538', '26956'),
 ('5545', '27023'),
 ('5539', '26964'),
 ('5535', '26908'),
 ('5533', '26893'),
 ('5533', '26893'),
 ('5537', '26935'),
 ('5536', '26924'),
 ('5538', '26948'),
 ('5538', '26949'),
 ('5534', '26897'),
 ('5535', '26912'),
 ('5548', '27046'),
 ('5547', '27040'),
 ('5542', '26999'),
 ('5547', '27034'),
 ('5547', '27033'),
 ('5543', '27021'),
 ('5544', '27024'),
 ('5544', '27024'),
 ('5546', '27034'),
 ('5547', '27034'),
 ('5546', '27029'),
 ('5546', '27029'),
 ('5543', '27014'),
 ('5543', '27019'),
 ('5546', '27034'),
 ('5526', '26792'),
 ('5526', '26792'),
 ('5526', '26781'),
 ('5529', '26835'),
 ('5526', '26790'),
 ('5526', '26784'),
 ('5525', '26772'),
 ('5523', '26739'),
 ('5528', '26816'),
 ('5526', '26782'),
 ('5527', '26799'),
 ('5525', '26777'),
 ('5529', '26832'),
 ('5529', '26835'),
 ('5526', '26794'),
 ('5525', '26764'),
 ('5524', '26753'),
 ('5528', '26821'),
 ('5527', '26810'),
 ('5529', '26829'),
 ('5530', '26848'),
 ('5529', '26833'),
 ('5528', '26819'),
 ('5529', '26838'),
 ('5556', '27042'),
 ('5562', '27045'),
 ('5559', '27051'),
 ('5559', '27046'),
 ('5559', '27049'),
 ('5555', '27049'),
 ('5554', '27049'),
 ('5556', '27052'),
 ('5558', '27050'),
 ('5558', '27050'),
 ('5558', '27050'),
 ('5552', '27044'),
 ('5561', '27052'),
 ('5560', '27051'),
 ('5561', '27054'),
 ('5565', '27042'),
 ('5553', '27049'),
 ('5553', '27050'),
 ('5539', '26976'),
 ('5539', '26966'),
 ('5541', '26989'),
 ('5542', '26997'),
 ('5541', '26986'),
 ('5540', '26977'),
 ('5540', '26977'),
 ('5542', '26999'),
 ('5541', '26983'),
 ('5537', '26950'),
 ('5538', '26963'),
 ('5538', '26963'),
 ('5538', '26959'),
 ('5537', '26948'),
 ('5534', '26911'),
 ('5534', '26911'),
 ('5536', '26940'),
 ('5535', '26927'),
 ('5535', '26919'),
 ('5539', '26966'),
 ('5541', '26998'),
 ('5541', '26998'),
 ('5538', '26966'),
 ('5540', '26987'),
 ('5540', '26992'),
 ('5538', '26967'),
 ('5539', '26970'),
 ('5537', '26961'),
 ('5534', '26899'),
 ('5533', '26888'),
 ('5533', '26887'),
 ('5538', '26943'),
 ('5534', '26897'),
 ('5536', '26921'),
 ('5533', '26883'),
 ('5539', '26952'),
 ('5537', '26930'),
 ('5537', '26930'),
 ('5535', '26909'),
 ('5536', '26917'),
 ('5535', '26910'),
 ('5535', '26910'),
 ('5545', '27009'),
 ('5554', '27055'),
 ('5554', '27055'),
 ('5526', '26796')]

In [37]:
lat_list = []
lon_list = []
for tup in code_split_list:
    lat_tmp = int(tup[0])
    lat_list.append(lat_tmp)
    lon_tmp = int(tup[1])
    lon_list.append(lon_tmp)
print("lat:(",sorted(lat_list)[0],",",sorted(lat_list)[len(lat_list)-1],")")
print("lon:(",sorted(lon_list)[0],",",sorted(lon_list)[len(lon_list)-1],")")

lat:( 5522 , 5565 )
lon:( 26718 , 27067 )